<h1>Exception Handler</h1>
<br/>
<strong>Number of params:</strong> <%= params.size %>
<br/>
<br/>
<strong>Params:</strong>
<% params.each do |param| %>
	<br/>
	<%= param %>
<% end %>

<%= @output %>
