<h1>Exception Handler</h1>
<br/>
<%= @output %>
<br/>
<br/>
<strong>Number of params:</strong> <%= params.size %>
<br/>
<br/>
<strong>Keys:</strong>
<% params.keys.each do |param| %>
	<br/>
	<%= param %>
<% end %>
<br/>
<br/>
<strong>Params:</strong>
<br/>
<%= params.inspect %>
