<h1>Exception Handler Maps</h1>
<br/>
<br/>
<strong>Current Maps:</strong>
<% Map.all.each do |map| %>
  <br/>
  <div>
    <%= map[:package] %> <%= map[:build] %> <%= button_to "Delete", "delete/#{map[:map]}", :confirm => "Are you sure?" %>
  </div>
<% end %>
