<h1>Exception Handler Maps</h1>
<br/>
<br/>
<strong>Current Maps:</strong>
<% Map.all.each do |map| %>

  <br/>
  <%= map[:package] %> <%= map[:build] %> <%= link_to "Delete", "maps/delete/#{map[:map]}" %> 
<% end %>
